.page-layout-2 {  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Large vertical panel now on the LEFT side */
.page-layout-2 .panel-1a {
  grid-row: 1 / 3;  /* spans all rows */
  grid-column: 1 / 2;        /* move to leftmost column */
}

/* Top row */
.page-layout-2 .panel-1b { 
  grid-row: 1 / 3;
  grid-column: 2 / 5; 
  right:0;
}

.page-layout-2 .panel-1c { 
  grid-row: 1 / 3; 
  grid-column: 5 / 6;
  right:0; 
}
.page-layout-2 .panel-1d { 
  grid-row: 1 / span 4; 
  grid-column: 5 / 6;
  right:0; 
}

/* .page-layout-2 .panel-1d { 
  grid-row: 1 / span 4; 
  grid-column: 5 / 6; 
} 8/

/* Bottom row */
.page-layout-2 .panel-2a { 
  grid-row: 3 / 5; 
  grid-column: 1 / 2; 
}
.page-layout-2 .panel-2b { 
  grid-row: 3 / 5; 
  grid-column: 2 / 3; 
}
.page-layout-2 .panel-2c { 
  grid-row: 3 / 5; 
  grid-column: 3 / 4; 
}
.page-layout-2 .panel-2d { 
  grid-row: 3 / 5; 
  grid-column: 4 / 5; 
}
/* .page-layout-2 .panel-2s { 
  grid-row: 3 / 5; 
  grid-column: 4 / 6; 
} */




