.page-layout-3 {  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Top row */
.panel-1a { 
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  /* clip-path: polygon(0 0, 100% 0, calc(100% - 100px) 100%, 0% 100%);   */
}
.panel-1b { 
  grid-row: 1 / 3; 
  grid-column: 3 / 4; 
  right:0;
}
.panel-1c { 
  grid-row: 1 / 3; 
  grid-column: 4 / 5; 
  right:0;
}
.panel-1d {
  grid-row: 1 / span 4;  /* spans rows 1 & 3 */
  grid-column: 5;
}

/* Bottom row */
.panel-2a { grid-row: 3 / 5; grid-column: 1 / 3; } /* spans bottom two*/
.panel-2b { grid-row: 3 / 5; grid-column: 3 / 5; }

.panel-2a {
    position: relative;
    overflow: hidden;
    display: flex;
}

.panel-2a img {
    position: absolute;
    object-fit: cover;
}

