@import url('./../4UaErEJDsxBrF37olUeD_xHM8pxULg.woff2');

:root {
  --text-block-yellow: rgba(232, 185, 49, 0.9);
  --text-block-white: rgba(255,255,255,0.7);
  --speech-bubble-white: rgba(255,255,255,0.7);
}

/* GLOBAL STYLE */
.page-layout {
  display: grid;
  /* 6 rows of equal height */
  gap: 10px;
  padding: 20px;
  background: #fff;
  position: relative;
  /* needed for absolute overlay */
  height: 90dvh;
  margin-top: 10dvh;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 1.2em;
  font-style: bold;
  padding-right:2em;
}
.panel {
  background: #000;
  border-radius:6px;
  overflow:hidden;
}

/* Split panels */
.panel.split-panel {
    display: flex;
    justify-content: space-between;
    background: #fff;
    position: relative;
}
.panel.split-left,
.panel.split-right {
    position: absolute;
    width: calc(100vw - 46vw); 
    overflow: hidden;
}
.panel.split-left {  
    clip-path: polygon(0 0, 100% 0, calc(100% - 300px) 100%, 0% 100%);   
}
.panel.split-right {
    clip-path: polygon(300px 0, 100% 0, 100% 100%, 0% 100%);  
    right: 0;
    bottom:-15%;
}

video {
  object-fit: cover;
  height:105%;
  width:105%;
}
img {
  width:109%;
  height:109%;
  object-fit: cover;
}

.speech-bubble-container {
  position:absolute;
}

