.page-layout-3 {  
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Top row */
.page-layout-3 .panel-1a { 
  grid-row: 1 / span 4;
  grid-column: 1 / 3;
  /* clip-path: polygon(0 0, 100% 0, calc(100% - 100px) 100%, 0% 100%);   */
}
/* .panel-1b { 
  grid-row: 1 / 3; 
  grid-column: 3 / 4; 
  right:0;
} */
.page-layout-3 .panel-1b { 
  grid-row: 1 / 3; 
  grid-column: 3 / 5; 
  right:0;
}
.page-layout-3 .panel-1c {
  grid-row: 1 / 3;  /* spans rows 1 & 3 */
  grid-column: 5 / 8;
}

/* Bottom row */
.page-layout-3  .panel-2a { grid-row: 3 / 5; grid-column: 3 / 4; } /* spans bottom two*/
.page-layout-3  .panel-2b { grid-row: 3 / 5; grid-column: 4 / 6; }
.page-layout-3  .panel-2c { grid-row: 3 / 5; grid-column: 6 / 8; }


.page-layout-3  .panel-2a {
    position: relative;
    overflow: hidden;
    display: flex;
}

.page-layout-3  .panel-2a img {
    position: absolute;
    object-fit: cover;
}

