@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* GLOBAL STYLE */
.page-layout {
  display: grid;
  /* 6 rows of equal height */
  gap: 10px;
  padding: 20px;
  background: #fff;
  position: relative;
  /* needed for absolute overlay */
  height: 90dvh;
  margin-top: 10dvh;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 1.2em;
  font-style: bold;
  padding-right:2em;
}
.panel {
  background: #000;
  border-radius:6px;
  overflow:hidden;
}

video {
  object-fit: cover;
  height:105%;
  width:105%;
}
img {
  width:109%;
  height:109%;
  object-fit: cover;
}

