@import url('./../public/styles/fonts/4UaErEJDsxBrF37olUeD_xHM8pxULg.woff2');
@font-face {
  font-family: "Comic Book";
  src: url("./../public/styles/fonts/Comic Book.otf") format("opentype");
}
@font-face {
  font-family: "Comic Book Bold";
  src: url("./../public/styles/fonts/Comic Book Bold.otf") format("opentype");
}
:root {
  --text-block-yellow: rgba(232, 185, 49, 0.9);
  --text-block-white: rgba(255,255,255,0.7);
  --speech-bubble-white: rgba(255,255,255,0.7);
}

/* GLOBAL STYLE */
.page-layout {
  display: grid;
  /* 6 rows of equal height */
  gap: 10px;
  padding: 20px;
  background: #fff;
  position: relative;
  /* needed for absolute overlay */
  height: 93dvh;
  margin-top: 8dvh;
  font-family: "Comic Book", cursive;
  font-weight: 700;
  font-size: clamp(1em, 0.7em, 1.2em);
  font-style: bold;
  padding-right:2em;
}
.panel {
  background: #000;
  border-radius:3px;
  overflow:hidden;
  border:solid 4px #000;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  position:relative;
}
video {
  object-fit: cover;
  height:105%;
  width:105%;
  position: absolute;
}
img {
  width:109%;
  height:109%;
  object-fit: cover;
  top:0;
  position:absolute;
}

/* .speech-bubble-container {
  position:absolute;
} */

@keyframes fadeOut {
     from { 
      opacity: 1; 
    }
     to { 
      opacity: 0; 
    }
   }
      @keyframes fadeIn {
     from { 
      opacity: 0; 
    }
     to { 
      opacity: 1; 
    }
   }
    .fade-out {
     animation: fadeOut 0.5s ease-out forwards;
   }
    .fade-in {
     animation: fadeIn 0.5s ease-in forwards;
   }
