@import url(./../../../comicMainPageLayout.css);

@import url(../../../comicPageLayout2.css);


/* the building is a mess */
.text-block-container.text-block-story-line-page3-1 {
    top: 4dvh;
    left: 5dvw;
}
/* ..it stinks...*/
.text-block-container.text-block-story-line-page3-2 {
    top: 15dvh;
    left: 15dvw;
}
/*...and the neighbours are... */
.text-block-container.text-block-story-line-page3-3 {
    top: 25dvh;
    left: 20dvw;
}

/* ...proof that civilization is optional. */
.text-block-container.text-block-story-line-page3-4 {
    top:35dvh;
    left:20dvw;
}
/* Can’t blame them — <br /> when you’ve been stepped on long enough... */
.text-block-container.text-block-story-line-page3-5 {
    bottom: 12dvh;
    left: 20dvw;
}
/* ...you forget what standing up looks like. */
.text-block-container.text-block-story-line-page3-6 {
    bottom: 5dvh;
    left: 25dvw;
}
/* NOVA */
.text-block-container.text-block-story-line-page3-7 {
    top: 10dvh;
    left: 5dvw;
}
.page-layout-2 .panel-1a {
   width:25dvw!important;
}
.panel-2a video{
  
  
}