@import url(./../../../comicMainPageLayout.css);

@import url(../../../comicPageLayout3.css);

.speech-bubble-container.speech-bubble-story-line-page3-1 {
  top:18dvh;
  right:10dvw;

}

.text-block-container.text-block-story-line-page3-1 {
    top: 24dvh;
    left: 2dvw;
}

.text-block-container.text-block-story-line-page3-2 {
    top: 5dvh;
    right: 18dvw;
}