<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Dashboard</title>

</head>

<body>
 
  <section id="dashboard" class="dashboard"></section>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


   <!-- Icon Packages -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <!-- GSAP core -->
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
  <!--Plugin-->
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>

  <!--Lenis smooth scrolling-->
  <script src="https://unpkg.com/lenis@1.2.3/dist/lenis.min.js"></script>

 <script type="module">
    import { loadSection, loadCSS, loadScript } from "/scripts/pageLoader.js"
    (async () => {

      await loadSection('dashboard', '/views/dashboard/dashboard.html');
      await loadScript('/views/dashboard/cardBuilder.js');
      await loadCSS('/views/dashboard/card.css');
        //await loadSection('section-three', '/partials/section-three/section-three.html'),
        // await loadSection('section-four', '/partials/section-four/section-four.html'),

        //await loadCSS('/style.css'),
        //await loadScript("/scripts/button.js");

      // await loadCSS('/styles/tiltEffects.css');


      //sections are loaded
      //window.dispatchEvent(new CustomEvent('sectionsloadedcomplete', { detail: "" }));

      // loading page elements
      // let loader = document.getElementById("loading-page");
      // let audioEnabledCheckbox = document.querySelector('#enable-audio-layer');
      // let enterBtn = loader.querySelector('#enter-btn');

      //enterBtn.style.display = "block";

      //global audio
      // window.transitionAudio = new Audio('/audio/transition_audio.mp3');
      // window.bgAudio = new Audio('/audio/background.mp3');
      // window.storyName = new Audio('/audio/no_overflow_hacker.mp3');

      // window.bgAudio.volume = 0.5;
      // window.bgAudio.loop = true;

      // window.audioEnabled = audioEnabledCheckbox.checked;
      // localStorage.setItem('audioEnabled', window.audioEnabled);
      // audioEnabledCheckbox.addEventListener('change', () => {
        // window.audioEnabled = audioEnabledCheckbox.checked;
        // console.log(`transition audio ${window.enableAudio}.`);
        // localStorage.setItem('audioEnabled', window.audioEnabled);
      // });

      //signal 'ready' n the loading page.
      //handleLoadingText();

      // enterBtn.addEventListener('click', (e) => {
      //   e.preventDefault();

      //   loader.style.display = "none";

      //   const sectionOne = document.querySelector('.section-one');
      //   sectionOne.classList.add('active');

      //   if (window.audioEnabled) {
      //     window.bgAudio.play();
      //     window.storyName.play();
      //   }

      //   //Force play here because the sound effect 
      //   //doesn't play in the section-one viewing evene the first time
      //   //window.transitionAudio.play();

      // })

    })();

 </script>

</body>

</html>