@import url(./../../../comicMainPageLayout.css);

@import url(../../../comicPageLayout1.css);

.text-block-container {
  position: absolute;
  z-index: 4;
  display: inline-block;
  overflow: visible;
  width: auto;           /* ensure it shrinks to text */  
  box-sizing: border-box;
  text-wrap:pretty;

}
.text-block-city-name {   
    top:5dvh;
    left:5dvw; 
}

.text-block-story-line-intro-1 {
    top: 38dvh;
    left: 20dvw;
}
.text-block-story-line-intro-2 {
   top: 25vh;
   right: 25vw;
}
.text-block-story-line-intro-3 {
    top: 50vh;
    right: 35vw;
}
.text-block-story-line-intro-4 {
    bottom: 5vh;
    right: 10vw;
}

@media (max-width > 1025px) {
   .text-block-nova-name {
    top: 15vh;
    left: 76vw;    
}
}

