@import url(./../../../comicMainPageLayout.css);

@import url(../../../comicPageLayout1.css);

.text-block-container {
  position: absolute;
  z-index: 4;
  display: inline-block;
  overflow: visible;
  width: auto;           /* ensure it shrinks to text */  
  box-sizing: border-box;
  text-wrap:pretty;

}
.text-block-city-name {   
    top:15px;
    left:15px; 
}
/* .text-block-nova-name { */
    /* top: 25vh; */
    /* right: 20vw;  */
    /* white-space: wrap;    */
/* } */
/* .text-block-nova-profession { */
    /* top: 35vh; */
    /* left:65vw; */
/* } */
.text-block-story-line-intro-1 {
    top: 10vh;
    left: 20vw;
}
.text-block-story-line-intro-2 {
   top: 25vh;
   right: 25vw;
}
.text-block-story-line-intro-3 {
    top: 47vh;
    right: 35vw;
}
.text-block-story-line-intro-4 {
    bottom: 5vh;
    right: 10vw;
}

@media (max-width > 1025px) {
   .text-block-nova-name {
    top: 15vh;
    left: 76vw;    
}
}

