<div class="section-container">
    <div class="video-container tilt-container">
        <div class="tilt-element">
            <div class="video-wrapper">
                <video id="hero-video" autoplay muted playsinline preload="auto" loop disablePictureInPicture
                    class="tilt-shadow">
                    <source src="/views/landingPage/videos/output_anime.mp4?v=12345" type="video/mp4">
                </video>
                <div class="overlay"></div>
            </div>
        </div>
        <canvas id="logo-sphere"></canvas>
        <canvas id="video-trails"></canvas>
        <div class="logo-container">
            <div id="logo" data-text="N0//:0VERFL0W" class="logo-3d">N0//:0VERFL0W</div>
        </div>
        <div class="btn get-started-btn-hero">Get Started</div>
    </div>
</div>
<canvas id="three-canvas"></canvas>
<!-- <script type="module" src="/scripts/landing-page.js"></script> -->