

/*LOGO*/

.logo-container {
    /* display: flex; */
    align-items: center;
    justify-items: flex-start;
    color: var(--color-four);
    font-family: var(--font-name);
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.5em;
    /* text-shadow: 0 0 3px #444; */
    /* text-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1); */
    caret-color:#262626;
    position: relative;
    z-index:2;
    overflow:hidden;
    display:block;
}
#logo-sphere {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 28%;
    top: 32%;
}

.video-wrapper {
    overflow: hidden; /* clip only video + overlay */
    border-radius: 6px;
    width: 100dvw;
    height: 100%;
}





/* SECTION 1 */


#tube-cursor, #three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;
  z-index: 9;       /* above everything */
  mix-blend-mode: screen;
  opacity: 0.85;
}
#three-canvas {
    opacity:1;
    z-index:2;
    background:transparent;
}


.landing-page {
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    inset: 0;
    z-index:3;
    background:white;
}

.landing-page .video-container {
    position: relative;
    height: 100%;
    width: 100%;
    /* clip-path: inset(0% 0% 0% 0%); */
    /* start full size */
}

#hero-video, .overlay
{
    position: absolute;
    top: 16vh;
    left: calc((100dvw - 75vw)/2);
    width: 75vw;
    height: 75vh;    
    border-radius: 6px;
    
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; */
}

#hero-video {
  object-fit: cover;
  border: 2px solid #fff;
}

.video-container > .logo-container {
    position: absolute;
    top: 52%;
    left: 33%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.video-container {
  
  clip-path: circle(150% at 50% 50%); /* initial circle radius and center */
  
}
.overlay {  
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 20%, transparent 55%);
  pointer-events: none;
}

 .btn.get-started-btn-hero {
         /* position: relative; */
         top: 40vh;
         left: 25%;
         width:15vw;
         height:10vh;
         
     }


@media (max-width: 1024px) {
    .logo-container {
        font-size: 1.2em;
    }
 }

 @media (max-width: 450px) {
     .logo-container {
         font-size: 1.2em;
     }

     .video-container .logo-container {
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
     }
 }

 