@import url(./../../../comicMainPageLayout.css);

@import url(../../../comicPageLayout5.css);

.text-block-container.text-block-story-line-page4-1 {
    top: 14dvh;
    left: 2dvw;
}

.text-block-container.text-block-story-line-page4-2 {
    bottom: 25dvh;
    right: 18dvw;
}