:root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
    --color-one: #943A00;
    --color-two: #FCBE5B;
    --color-three: #180D15;
    --color-four: #FCF8EE;
    --color-five: #293D56;
    --lg-bg-color: rgba(255, 255, 255, 0.05);
    --lg-bg-color-2: rgb(172, 70, 0, 0.2);
    --lg-highlight: rgba(255, 255, 255, 0.75);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10vh;
    overflow-x: hidden;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
}

.logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}



.logo {
    width: 3em;
    height: auto;
    filter: grayscale(100%) drop-shadow(10px 10px 15px #AC4600);
}


section {
    height: 100dvh;
    width: 100%;
    /* position:relative; */

}

.section_wrapper {
    height: 100dvh;
    width: 100dvw;
}

.fader {
    opacity: 0;
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 2;
}


/*Section 1*/

.hero {
    /* clip-path: circle(100% at 50% 50%); */
    
    height:100dvh;
    

}

.hero_inner {
    position: fixed;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    perspective: 1500px;
    /* controls depth of 3D effect */
    background: url(../images/random_nebula_gradient_16_9.png);
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}



#hero_video,
#transition_video {
    position: absolute;
    /* stays centered in container */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 75vh;
    object-fit: cover;
    /* ensures it fills container nicely */
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.section_1_video_container {

    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s linear;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 2s linear;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s linear;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(87px, 9999px, 39px, 0);
    transform: skew(0.55deg);
  }
  5% {
    clip: rect(46px, 9999px, 81px, 0);
    transform: skew(0.1deg);
  }
  10% {
    clip: rect(37px, 9999px, 6px, 0);
    transform: skew(0.11deg);
  }
  15% {
    clip: rect(98px, 9999px, 31px, 0);
    transform: skew(0.82deg);
  }
  20% {
    clip: rect(37px, 9999px, 100px, 0);
    transform: skew(0.54deg);
  }
  25% {
    clip: rect(69px, 9999px, 29px, 0);
    transform: skew(0.79deg);
  }
  30% {
    clip: rect(40px, 9999px, 43px, 0);
    transform: skew(0.75deg);
  }
  35% {
    clip: rect(60px, 9999px, 66px, 0);
    transform: skew(0.56deg);
  }
  40% {
    clip: rect(4px, 9999px, 70px, 0);
    transform: skew(0.11deg);
  }
  45% {
    clip: rect(25px, 9999px, 64px, 0);
    transform: skew(0.55deg);
  }
  50% {
    clip: rect(24px, 9999px, 40px, 0);
    transform: skew(0.45deg);
  }
  55% {
    clip: rect(86px, 9999px, 25px, 0);
    transform: skew(0.84deg);
  }
  60% {
    clip: rect(36px, 9999px, 70px, 0);
    transform: skew(0.42deg);
  }
  65% {
    clip: rect(50px, 9999px, 9px, 0);
    transform: skew(0.65deg);
  }
  70% {
    clip: rect(35px, 9999px, 28px, 0);
    transform: skew(0.21deg);
  }
  75% {
    clip: rect(55px, 9999px, 57px, 0);
    transform: skew(0.15deg);
  }
  80% {
    clip: rect(25px, 9999px, 91px, 0);
    transform: skew(0.53deg);
  }
  85% {
    clip: rect(43px, 9999px, 33px, 0);
    transform: skew(0.26deg);
  }
  90% {
    clip: rect(53px, 9999px, 44px, 0);
    transform: skew(0.22deg);
  }
  95% {
    clip: rect(39px, 9999px, 68px, 0);
    transform: skew(0.56deg);
  }
  100% {
    clip: rect(21px, 9999px, 74px, 0);
    transform: skew(0.82deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(59px, 9999px, 20px, 0);
    transform: skew(0.42deg);
  }
  5% {
    clip: rect(47px, 9999px, 24px, 0);
    transform: skew(0.11deg);
  }
  10% {
    clip: rect(20px, 9999px, 80px, 0);
    transform: skew(0.92deg);
  }
  15% {
    clip: rect(92px, 9999px, 8px, 0);
    transform: skew(0.03deg);
  }
  20% {
    clip: rect(78px, 9999px, 22px, 0);
    transform: skew(0.17deg);
  }
  25% {
    clip: rect(10px, 9999px, 69px, 0);
    transform: skew(0.78deg);
  }
  30% {
    clip: rect(56px, 9999px, 41px, 0);
    transform: skew(0.22deg);
  }
  35% {
    clip: rect(1px, 9999px, 75px, 0);
    transform: skew(0.16deg);
  }
  40% {
    clip: rect(12px, 9999px, 68px, 0);
    transform: skew(0.83deg);
  }
  45% {
    clip: rect(96px, 9999px, 16px, 0);
    transform: skew(0.69deg);
  }
  50% {
    clip: rect(47px, 9999px, 43px, 0);
    transform: skew(0.1deg);
  }
  55% {
    clip: rect(55px, 9999px, 90px, 0);
    transform: skew(0.88deg);
  }
  60% {
    clip: rect(61px, 9999px, 7px, 0);
    transform: skew(0.08deg);
  }
  65% {
    clip: rect(43px, 9999px, 91px, 0);
    transform: skew(0.05deg);
  }
  70% {
    clip: rect(64px, 9999px, 7px, 0);
    transform: skew(0.39deg);
  }
  75% {
    clip: rect(31px, 9999px, 59px, 0);
    transform: skew(0.54deg);
  }
  80% {
    clip: rect(44px, 9999px, 63px, 0);
    transform: skew(0.52deg);
  }
  85% {
    clip: rect(58px, 9999px, 69px, 0);
    transform: skew(0.35deg);
  }
  90% {
    clip: rect(63px, 9999px, 8px, 0);
    transform: skew(0.35deg);
  }
  95% {
    clip: rect(22px, 9999px, 57px, 0);
    transform: skew(0.68deg);
  }
  100% {
    clip: rect(7px, 9999px, 92px, 0);
    transform: skew(0.97deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(2deg);
  }
  40% {
    transform: skew(-4deg);
  }
  50% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(-1deg);
  }
  70% {
    transform: skew(-2deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(4deg);
  }
}



.signature_container {
    position: absolute;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;  
    font-style: normal;
    font-size: clamp(1rem, 2vw + 1rem, 6rem);
    font-weight: 700;
    text-transform: uppercase;    
    font-size:2.6em;
    letter-spacing: 0.5em;
    /* font-size: 0.6rem; */
    text-shadow: 0 0 3px #444;
    top: 50%;
    left: 16%;
}

header .signature_container {
    position: relative;
    font-size: 1rem;
}
/* 
#underline {
    width:29vw;
    position: absolute;
    top:47vh;
    left:28%;
}

#underline path {}

#signature {
    width:40vw;
    position: absolute;
    left:12%;
}

#signature path {
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke: none;
    fill: white;
} */


@media only screen and (min-width: 601px) {}

@media only screen and (max-width: 993px) {


    .signature_container {
        font-size: 0.4rem;
    }
    .wrapper {
        margin-left: 19vw;
        transform: scale(2.5);
    }

    .logo__wrapper {
        width: 35%;
    }
}


.get_started_btn {
    position: sticky;
}

/*Section 2*/

.section_2 {
  /* margin-top: 500vh; */
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  min-height: 100dvh;         /* full screen */
  width:100%;
  color:#000;
  z-index:3;
  /* position:absolute; */
}

.section_2_inner {
  text-align: center; 
}
.section_2_inner h1 {
  font-size: 2vw;   /* scales with screen size */
  margin: 1rem 0;
}















/*Section Three*/
/* 
.floating_text {
    color: var(--color-four);
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 2vw + 1rem, 6rem);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
    top: 65vh;
    text-shadow: 0 0 3px #444;
}

section.section_2 {
    margin-top: 500vh;
    height: 100dvh;
    color: #000;
}

section.section_2 .section_wrapper {
    position: relative;
    display: flex;
    height: 100dvh;
    justify-content: flex-start;
    align-items: center;   
}

.section_2_video_container {
    position:absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: -1;
}

.section_2_video_container .overlay {
    background:
        linear-gradient(360deg, transparent 10%, #fff);        
        position: absolute;
        top:0;
        width:100%;
        height:100dvh;
}

section.section_3 {
    background-color: #943A00;
    display: flex;
} */


/* ========== GLASS LAYERS ========== */

.glass_container {
    position: relative;
    display: flex;
    background: transparent;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    height: 20vh;
}

.glass-filter {
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(3px);
    filter: url(#lg-dist-2);
    isolation: isolate;
}

.glass-overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: var(--lg-bg-color);
}

.glass-specular {
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: inherit;
    overflow: hidden;
    box-shadow: inset 1px 1px 0 var(--lg-highlight),
        inset 0 0 5px var(--lg-highlight);
}

.glass-content {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem 1.5rem 0.9rem;
}

.glass-content--inline {
    flex: 1 1 auto;
    justify-content: space-between;
}