:root {
  --background-color: #11292a;
  --background-light-color: #fff;
  --text-color: hsl(0, 0%, 100%);
  --color-one: #943A00;
  --color-two: #FCBE5B;
  --color-three: #3EA4DF;
  --color-four: #FCF8EE;
  --color-five: #033B64;
  --lg-bg-color: rgba(255, 255, 255, 0.05);
  --lg-bg-color-2: rgb(172, 70, 0, 0.2);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  --font-name: "Oswald", sans-serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-snap-type: y proximity; */
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  width:100dvw;
}


html {
  
  font-family: var(--font-name);
  /* Create a snapping rule on the html element */
  /* scroll-snap-type: y proximity; */
  /* position: relative; */
  
}

body {
  overflow-x: hidden;
  background: var(--background-light-color);    
}

/* body::before {
  --size: 45px;
  --line: color-mix(in hsl, var(--color-three), var(--color-three) 80%);
  content: '';
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) calc(var(--size) * 0.36) 50% / var(--size) var(--size), linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0% calc(var(--size) * 0.32) / var(--size) var(--size);
  -webkit-mask: linear-gradient(-20deg, transparent 60%, var(--background-color));
  mask: linear-gradient(-20deg, transparent 60%, var(--background-color));
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
} */

/* Lined paper */
/* body::before {
  --size: 45px;
  --line: color-mix(in hsl, var(--color-three), var(--color-three) 80%);
  --red-line: #ff0033; 
  content: '';
  height: 100dvh;
  width: 100dvw;
  position: fixed;

  
  background:
    
    linear-gradient(90deg, var(--red-line) 1px, transparent 1px) 60px 0 / 100% 100%,
   
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 calc(var(--size) * 0.32) / 100% var(--size);

  -webkit-mask: linear-gradient(-20deg, transparent 60%, var(--background-color));
  mask: linear-gradient(-20deg, transparent 60%, var(--background-color));
  top: 0;
  pointer-events: none;
  z-index: -1;
} */



/* HEADER */
header {
  backdrop-filter: blur(3px);  /* frosted  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10vh;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); /* line */
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
  height:8dvh;
}


header .logo-container {
  color: var(--color-four);
  font-family: var(--font-name);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  caret-color: #262626;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: block;
  font-size: 1rem;
  left: 5%;
  color: var(--color-five);
}

#logo {
  display: flex;
}



/* LOADING SCREEEN */
#loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  background-color: white;
   justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 99;
  overflow:hidden;
}
#loading-page .loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading-page .loading-text span {
  font-family: var(--font-name);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.5em;
  animation: blur 1.8s calc(var(--i) / 5 * 1s) alternate infinite;
}

.checkbox-container {
  display:flex;
}
.checkbox-container input {
  transform: scale(1.2);
  cursor: pointer;
  margin-right: 1em;
}

@keyframes blur {
  to {
    filter: blur(1px);
    /* transform: scale(1.2); */
  }
}


.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-wrapper {
  /* height: calc(100dvh * 3); */
  position: relative;
  width:100dvw;
}

section {
  position:fixed;
  height: 100dvh;
  width: 100dvw;
  top:0;
  left:0;
  inset:0;
  background: transparent;
  scroll-snap-align: start; 
  scroll-snap-stop: always; 
  transform-origin: center center;
  will-change: filter, opacity; 
  /* visibility: hidden;      */
}
section .section-container{
   animation: zoom-scroll-out 2.5s forwards; 
}
section.active {
  visibility: visible;
}
section.active .section-container{
  animation: zoom-scroll-in 1.5s forwards;
}
.section-container {
  height: 100dvh;
  width: 100dvw;
  position: relative;
  background: transparent;
}








@keyframes zoom-scroll-in {
  0% {
    filter: blur(5rem);
    transform: scale(0);    
    opacity: 0;
    visibility: hidden;
  }

  100% {
    filter: blur(0);
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes zoom-scroll-out {
  0% {
    filter: blur(0);
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  100% {
    filter: blur(3rem);
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
  }
}



