@import url(./../../../comicMainPageLayout.css);
@import url(../../../comicPageLayout4.css);

/* nova */
.text-block-container.text-block-story-line-page2-1 {
    top: 4dvh;
    left: 20dvw;
}
/* lee */
.text-block-container.text-block-story-line-page2-2 {
    top: 4dvh;
    left: 45dvw;
}
/*rin*/
.text-block-container.text-block-story-line-page2-3 {
    top: 4dvh;
    left: 70dvw;
}

/*jax*/
.text-block-container.text-block-story-line-page2-4 {
    top: 4dvh;
    left:93dvw;
}
.slideIn {
    animation: slideIn 1s ease-in forwards;
}
@keyframes slideIn {
    0%{
        opacity:0;
     transform:translateX(-200px);
    }
    100% {
        opacity:1;
       transform:translateX(0);
    }
}